{% extends 'base.html' %}

{% block content %}

    <div class="detail-form">
        <div class="profile_main">
{#            <p>#}
{#                {{ target_user.date_joined }}#}
{#            </p>#}
            {% if target_user.profile %}
            <img class="profile_img" src="{{ target_user.profile.image.url }}" alt="" style="" >
                <h5>{{ target_user.profile.nickname }}</h5>
            <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                <span>Edit</span>
            </a>
                <h5> {{ target_user.profile.message }}</h5>
            {% else %}
                <a href="{% url 'profileapp:create' %}">
                    <P>
                        Create Profile
                    </P>
                </a>
            {% endif %}

            {% if target_user == user %}
                <a href="{% url 'accountapp:update' pk=user.pk %}">
                    <h3>Change Info</h3>
                </a>
                <a href="{% url 'accountapp:delete' pk=user.pk %}">
                    <h4>Quit</h4>
                </a>
            {% endif %}

        </div>
    </div>


{% endblock %}