{% extends 'base.html' %}

{% block content %}

    <div class="detail-form">
        <div class="profile_main">
            {% if target_user.profile %}
                <img class="profile_img" src="{{ target_user.profile.image.url }}" alt="" style="" >
                <h2>{{ target_user.profile.nickname }}
                    <a class="icon material-icons" href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                        <span>edit</span>
                    </a>
                </h2>
                <h5 class="profile_message"> {{ target_user.profile.message }}</h5>
            {% else %}
                <a class="icon material-icons" href="{% url 'profileapp:create' %}">
                    <span>
                        account_circle
                    </span>
                </a>
            {% endif %}

            {% if target_user == user %}
                <a class="icon material-icons" href="{% url 'accountapp:update' pk=user.pk %}">
                    <span>settings</span>
                </a>
                <a class="icon icon-quit material-icons" href="{% url 'accountapp:delete' pk=user.pk %}">
                    <span>cancel</span>
                </a>
            {% endif %}

        </div>


    </div>
    <div>

        {% include 'snippets/list_fragment.html' with article_list=object_list %}

    </div>


{% endblock %}