{% extends 'base.html' %}

{% block content %}

    <main class="main-page">
        <div class="list">
            <h1 id="list-text">Hello World LIST!</h1>

            <form action="/account/hello_world/"  method="post">
                {% csrf_token %}
                <div class="list-input">
                    <input type="text" name="hello_world_input">
                </div>
                <div class="list-posting">
                    <input type="submit" class="btn btn-primary" value="POST">
                </div>
            </form>
            {% if hello_world_list %}
                {% for hello_world in hello_world_list %}
                <h3 class="list-output">
                    {{ hello_world.text }}
                </h3>
                {% endfor %}
            {% endif %}
        </div>
    </main>


{% endblock %}