
body {
    margin: 0 auto;
}

header, footer{
    text-align: center;
    margin: 2rem 0 0 2rem;
    font-family: 'Lobster', cursive;
}
.pragmatic {
    margin: 2rem;
    font-family: 'Lobster', cursive;
}
.footer_logo {
    font-size: .7rem;
}

.main-page {
    height: 40rem;
    background-color: tomato;
    margin: 2rem
}

#list-text {
    font-family: 'lobster',cursive;
    font-size: 3rem;
    text-align: center;
}

.list-posting, .list-input, .list-output {
    text-align: center;
    margin: 0.6rem 0 0.6rem 0;
}