
body {
    margin: 0 auto;
    font-family: "Nanum Gothic", sans-serif;
}

hr {
    box-shadow: 0 0.6rem 0.6rem -0.6px #bbbbbb inset;

}
header, footer{
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-family: 'Lobster', cursive;
}
.pragmatic {
    margin: 2rem;
    font-family: 'Lobster', cursive;
}
.footer_logo {
    font-size: .7rem;
}

.main-page {
    height: 40rem;
    background-color: tomato;
    margin: 2rem
}

#list-text {
    font-family: 'lobster',cursive;
    font-size: 3rem;
    text-align: center;
}

.list-posting, .list-input, .list-output {
    text-align: center;
    margin: 0.6rem 0 0.6rem 0;
}

.login_form, .create-form, detail-form {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 33%;

}

.detail-form h2 {
    font-weight: 600;
}

.login_form h4,
.create-form h4,
.detail-form {
    text-align: center;
}

.form-group:nth-child(3) {
    margin-top: 0.6rem;
}