{% extends 'base.html' %}

{% block content %}

    <div class="detail-form">
        <div class="article_detail">
            <h1>
                {{  target_article.title }}
            </h1>
            <h3>
                {{ target_article.writer.profile.nickname }}
            </h3>
            <img src="{{ target_article.image.url }}" alt="">

            <p>
                {{ target_article.content }}
            </p>
            {% if target_article.writer == user %}
            <a href="{% url 'articleapp:update' pk=target_article.pk %}" class="btn btn-primary rounded-pill col-3">
                Update
            </a>
            <a href="{% url 'articleapp:delete' pk=target_article.pk %}" class="btn btn-danger rounded-pill col-3">
                Delete
            </a>
            {% endif %}
        </div>
    </div>


{% endblock %}